*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif   ;
}
body{
    background-color: yellow;
}

#container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white; 
}

header {
    background-color: rgb(53, 144, 180);
    padding: 0.5em;
}

main{
    display: flex;
    flex-direction: column;
}
h1{
    color: orange;
    padding-bottom: 0.5em;
}

h2{
    text-align: center;
    color: white;
}

h3{
    text-align: center;
}

nav{
    display: flex;
    background-color: rgb(53, 144, 180);
    width: 100%;
    padding: 1em;
    text-align: center;
    height: fit-content;
    justify-content: center;
}

a{
    color: white;
    text-decoration: none;
    padding: 0.5em;
}
#main-content{
    padding: 2em 1em;
}
.main-body{
    display: flex;
}
.content{
    justify-content: left;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-right: 1em;
    max-width: 70%;
    font-size: 1em;
}
#posters{
    display: flex;
    max-width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

.posters{
    border: 1px solid black;
    max-width: 33%;
   
}

.imgMatt{
   width: 50%;
}

#bio{
    background-color: rgb(53, 144, 180);
    padding: 1em;
    text-align: center;
    color: white;
    height: fit-content;
    width: 30%;
}

.subImgMatt{
    display: flex;
    margin-bottom: 0.8em;
    justify-content: center;
    font-style: italic;
}

#footer{
    background-color: rgb(0, 110, 153);
}

#copyrights{
    text-align: center;
    color: white;
    justify-content: center;
    display: flex; 
}
 
@media screen and (max-width:815px){
    main{
        width: 100%;
    }
    #container{
        width: 100%;
    }
    #main-content{
        width: 100%;
        padding: 0;
    }
    .content{
        padding-right: 0;
        max-width: 100%;
        width: 100%;
    }
    .main-body{
        flex-direction: column;
        width: 100%;
    }
    header{
        width: 100%;
    }
    #banner{
        display: flex;
        justify-content: space-around;
    }
    nav{
        flex-direction: column;
        margin: 0;
    }
    article{
        padding: 1em 1em;
        justify-content: left;
        display: flex;
        flex-direction: column;
        text-align: justify;
        max-width: 100%;
        font-size: 1em;
    }
    #bio{
        text-align: start;
        width: 100%;
        margin: 0;
    }
    h1{
        padding-top: 1em;
        text-align: center;
    }
    h3{
        text-align: left;
    }
    .subImgMatt{
        margin-left: 1em;
        justify-content: left;
    }
    .imgMatt{
        width: 40%;
    }  
    #posters{
        max-height: 25%;
        padding: 1em;
    }
    #footer{
        width: 100%;
    }
    #copyrights{
        justify-content: space-around;
    }
}

@media screen and (max-width:810px) and (min-height:1080px){
    nav{
        flex-direction: row;
    }
    .imgMatt{
        width: 100%;
    }
    #fig-Matt{
        width: 100%;
        padding: 1em;
    } 
    #bio{
        display: flex;
        flex-direction: row;
    } 
    h3{
        text-align: center;
    }
    .subImgMatt{
        justify-content: center;
        margin: 0;
    }
    aside p{
        padding: 1em;
    }
}