*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif   ;
}
body{
    background-color: yellow;
}

#container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: white; 
    flex-wrap: wrap;
}

header {
    background-color: rgb(53, 144, 180);
    padding: 0.5em;
}

main{
    display: flex;
    flex-direction: column;
}

h1{
    color: orange;
    margin-bottom: 0.5em;
}

h2{
    text-align: center;
    color: white;
}

h3{
    text-align: center;
    margin: 1em;
    margin-bottom: 0;
}

nav{
    display: flex;
    background-color: rgb(53, 144, 180);
    flex-direction: row;
    width: 100%;
    padding: 1em;
    text-align: center;
    color: white;
    height: fit-content;
    margin: 0;
    justify-content: center;
}

a{
    color: white;
    text-decoration: none;
    padding: 0.5em;
}
article{
    justify-content: left;
    display: flex;
    flex-direction: column;
    padding:1em;
    max-width: 35em;
}

#posters img{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
}

#posters{
    display: flex;
    max-width: 25%;
    max-height: 25%;
    padding: 1em;
}

.posters{
    border: 1px solid black;
    margin: 0.3em;
}

.imgMatt{
   width: 100%;
}

#bio{
    background-color: rgb(53, 144, 180);
    padding: 1em;
    text-align: center;
    color: white;
    height: fit-content;
    width: 20%;
    justify-content: right;
    position: absolute;
    align-self: self-end;
    margin-top: 8em;
    margin-right: 1em;
}

sub{
    display: flex;
    margin-bottom: 0.8em;
    justify-content: center;
    font-style: italic;
}

#footer{
    background-color: rgb(0, 110, 153);
}

 #copyrights{
    text-align: center;
    color: white;
    justify-content: center;
    display: flex; 
 }

 @media screen and (max-width:650px){
    main{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    nav{
        flex-direction: row;
        width: 100%;
        margin: 0;
    }
    aside{
        flex-direction: row;
        width: 100%
    }
    #posters{
        display: flex;
        max-width: 13em;
        max-height: 25%;
        padding: 1em;
    }
 }